.app-row .col-4 {
    margin: 5px
}

.app-row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.handle {
    color: slategray;
}

html,body {
    height:100%;
    width: 100%;
}

body {
    background-color: lightgray;
}